.text-editor {
    left: 0;
    top: 0;
    position: absolute;
    transform-origin: top left;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;

    .text-box {
        height: inherit;
        display: table-cell;
        word-break: break-word;
        border-width: 0;
    }
}