.color-selector {
    background-color: teal;
    padding: .5em;

    .color-options {
        position: absolute;
        visibility: hidden;
    }

    &:hover {
        .color-options {
            visibility: visible;
        }
    }
    .color-button {
        height: 10px;
    }
}