.boardUI {
    position: absolute;
    left: 0;
    top: 0;

    &.pen { cursor: alias; }
    &.pointer { cursor: pointer; }
    &.shape { cursor: crosshair; }
    &.pan, &.drag { cursor: grabbing !important; } 
    &.dragselect { cursor: crosshair; }
    &.blocked { cursor: not-allowed; }
}