
$color-primary: #285b9e;
$color-primary-light: #3375cc;
$color-primary-lighter: #c0d0e4;
$color-primary-contrast: #ffffff; // text written over primary

$color-secondary: #333333;
$color-seconrady-light: #4d4d4d;
$color-secondary-contrast: #ffffff; // text written over secondary

$color-background: #e6ecf0;
$color-background-light: #ebeff1;
$color-background-ligther: #edf4f6;


$page-max-width: 2000px