.App {
  background-color: #EEE;
  color: black;
  min-height: 100vh;

  .canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    box-sizing: border-box
  }

  .ui-container {
    // TEMP while connection is still a component
    .test-connection {
      height: 100%;
    }
    .chat-container {
      position: fixed;
      width: 300px;
      height: 100px;
      right: 0;
      bottom: 0;
    }

    .temp-tools-container {
      position: fixed;
      top: 0;
      left: calc(50% - 50px);
      height: 20px;
      width: 100px;
      display: block;
      background-color: #CCC;
      border-radius: 0 0 8px 8px ;
      color: black;
      text-align: center;
    }
  
  }

}
