.edit-ui {
    position: absolute;
    left: 0;
    top: 0;

    &.pen { cursor: default; }
    &.pointer { cursor: pointer; }
    &.shape { cursor: crosshair; }

    .temp {
        opacity: 0.2;
        transform-origin: center center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(45deg);
        user-select: none;
    }

    .cursor-position {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 1em;
    }
}