.edit-ui {
    border:2px solid black;
    position: absolute;
    left: 0;
    top: 0;

    p {
        opacity: 0.2;
        transform-origin: center center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(45deg);
    }
}