.board-ui {
    position: absolute;
    left: 0;
    top: 0;

    &.pen { cursor: alias; }
    &.pointer { cursor: pointer; }
    &.shape { cursor: crosshair; }
    &.pan, &.drag { cursor: grabbing !important; } 

    .temp {
        opacity: 0.2;
        transform-origin: center center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(45deg);
        user-select: none;
    }

    .cursor-position {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 1em;
        user-select: none;
    }
}