@import '../../../styles/variables.scss';

.menuItem {
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    line-height: 0;

    
    &.selected {
        background-color: $color-background-lighter;
        color: $color-primary;
        font-weight: bold;
    }
    &:hover {
        background-color: $color-background-light;    
    }
    &:active {
        background-color: $color-background;
    }
    
     &:focus, &:hover {
        .subMenu {
            pointer-events: all;
            opacity: 1;
            transform: translate(-50%, 0px);
            transition-delay: 50ms;
        }
    }

    $subMenu-distance: 5px;
    .subMenu {
        pointer-events: none;
        top: calc(100% + $subMenu-distance);
        left: 50%;
        border-radius: 8px;
        transform: translate(-50%, -$subMenu-distance);
        opacity: 0;
        transition: 50ms transform, 50ms opacity;
        padding: 5px !important;

        & > :first-child, & > :last-child {
            border-radius: 0px;
        }

        // to bridge the gap between menuItem and subMenu so hover effect on menuItem is maintained
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            height: $subMenu-distance;
            width: 100%;
        }
    }
}