@import '../../../styles/variables.scss';

.subMenuButton {
    padding: 2px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: inherit;
    
    i {
        line-height: 0;
    }

    &:hover { 
        background-color: $color-background-lighter;
    }

    &.selected {
        border-color: $color-primary-light;
    }   
}