@import '../../../styles/variables.scss';

.toolsMenu {
    left: 50%;
    top: 15px;
    
    .shapesMenu {
        font-size: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 5px;
    }
}