.room-page {
  .canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box
  }

  .ui-container {
    .tools-container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .chat-container {
      position: absolute;
      width: 300px;
      height: 100px;
      right: 0;
      bottom: 0;
    }

    .zoom-container {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
  